<!DOCTYPE html>
<html>
	<head lang="en">
		<meta charset="UTF-8">
		<title>Queue App</title>

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.css">
		<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="/styles/style.css">

		<script src="/bower_components/angularjs/angular.min.js"></script>
		<script src="/QueueApp.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/limonte-sweetalert2/6.6.5/sweetalert2.min.js"></script>

	</head>
	<body ng-app="QueueApp">


		<div ng-controller="QueueController" id="wrapper">
				<h1>Queue App</h1>

				<div id="formGroupAddCustomer">
						<form ng-submit="addNewCustomer(); onCustomerAdded()" id="formAddCustomer">
							<input type="text" placeholder="Name" id="name" ng-model="newCustomerName" required />
							<select ng-model="newCustomerProduct" required>
								<option value="">Choose a product</option>
								<option ng-repeat="product in products">{{ product.name }}</option>
							</select>
							<button type="submit" class="btn btn-primary">Add Customer</button>
						</form>
				</div>

				<ul id="queueList">
					<li ng-repeat="customer in customers | orderBy: 'name'">
						<div class="customer-details">
							<span class="customer-name">{{ customer.name }}</span>
							<span class="customer-date">{{ customer.joinedTime | date : 'dd/MM/yyyy h:MM:ss' }}</span>
							<span class="customer-product">{{ customer.product.name }}</span>
							<input type="hidden" value="{{ customer.id }}" name="customerId" ng-model="customerId">
						</div>
						<div class="btn-group">
							<button ng-click="removeCustomer(customer); onCustomerRemoved()" class="btn btn-danger"><i class="fa fa-close"></i> Remove</button>
							<button ng-click="serveCustomer(customer); onCustomerServed()" class="btn btn-success"><i class="fa fa-close"></i> Serve</button>
						</div>
					</li>
				</ul>

				<h2>Served Customers </h2>

				<ul id="servedList">
					<li ng-repeat="customer in customersServed">
						{{ customer.name }}
					</li>
				</ul>

		</div>
	</body>
</html>
