* {
  box-sizing: border-box;
  webkit-box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

ul, li, ol, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

#wrapper {
  width: 700px;
  margin: 0 auto;
}

h1 {
  font-size: 22px;
  padding-bottom: 3px;
  border-bottom: 1px solid #e0e0e0;
  color: #4d4d4d;
  margin-bottom: 10px;
}

h2 {
  font-size: 19px;
  margin: 20px 0px 10px 0px;
}

#formAddCustomer {
  display: inline;
  float: left;
  input[type="text"], select {
    padding: 5px;
  }
}

#formGroupAddCustomer {
  margin-bottom: 15px;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
}

#queueList {
  li {
    &:after {
      content: '';
      display: block;
      clear: both;
    }
    width: 100%;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background: #f0f0f0;
  }
  .btn-group, .customer-details {
    padding: 10px;
    background: #f0f0f0;
  }
}

.customer-details, #queueList .btn-group {
  width: 100%;
  display: block;
}

.customer-details .customer-name {
  font-size: 20px;
}

.customer-name, .customer-date {
  display: inline;
  float: left;
}

.customer-name {
  margin-bottom: 12px;
  font-weight: 500;
}

.customer-date {
  float: right;
  font-size: 13px;
  margin-top: 3px;
  color: #747474;
}

.customer-product {
  display: block;
  clear: both;
  color: #747474;
  margin-bottom: 7px;
}

#queueList .btn-group {
  background: #f9f9f9;
  padding: 7px 10px;
  border-top: 1px solid #ccc;
  &:after {
    content: '';
    display: block;
    clear: both;
  }
  .btn {
    display: inline;
    float: right;
    margin-left: 5px;
  }
}

#servedList li {
  display: block;
  width: 100%;
  padding: 10px;
  background: #f0f0f0;
  border: 1px solid #ccc;
  border-left: 5px solid #5cb85c;
  text-indent: 5px;
  margin-bottom: 3px;
}

.btn {
  padding: 6px 10px;
  font-weight: bold;
  cursor: pointer;
  color: #fff;
  &.btn-primary {
    background: #0081e0;
    color: #fff;
    border: 1px solid #005594;
  }
}

.btn-success {
  background: #5cb85c;
  border: 1px solid #449d44;
}

.btn-danger {
  background: #d9534f;
  border: 1px solid #c9302c;
}
