<form ng-submit="addNewCustomer()">
	<input type="text" placeholder="Name" ng-model="newCustomerName" required />
	<select ng-model="newCustomerProduct">
		<option value="">Choose a product</option>
		<option ng-repeat="product in products">{{ product.name }}</option>
	</select>
	<button type="submit">Add</button>
</form>
